body {
  background-color: azure;
}

.App {
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}