.Heading {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 50%;
}

.Heading h2 {
    font-size: 3rem;
}

.Heading h4 {
    font-size: 2rem;
}

.copyright {
    font-size: 1rem;
}

.explanation {
    font-size: 1.2rem;
}